<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:30</td> <td><a href="https://swcarpentry.github.io/shell-novice/reference/">Automating Tasks with Bash & The Unix Shell</a> </td> </tr>
      <tr> <td>11:00</td>  <td>Morning break</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td> <td><a href="http://swcarpentry.github.io/python-novice-inflammation/">Intro to Programming in Python</a> </td> </tr>
      <tr> <td>15:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>16:30</td>  <td>Finishing into Python & Day 1 Wrap-up</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td> <td><a href="https://swcarpentry.github.io/git-novice/reference">Version Control with Git</a> </td> </tr>
      <tr> <td>11:00</td>  <td>Morning break</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td>Reproducible Data Analysis in Python: Pandas Data Frames</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td>  <td>Reproducible Data Analysis in Python: Plotting</td> </tr>
      <tr> <td>15:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:00</td>  <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:10</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
